# Project name for container prefixing and compose project label
COMPOSE_PROJECT_NAME=composphere
PROJECT_NAME=composphere
# Molar volume of ideal gas port for Web UI
APP_PORT=22414
# WebSocket port for metrics worker
WORKER_PORT=22415
# Path to docker socket
DOCKER_SOCKET_PATH=/var/run/docker.sock
# Host Docker Group ID (run `getent group docker | cut -d: -f3` to find yours)
DOCKER_GID=999